.c-label {
    color: var(--text-color-alt);
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    font-size: 0.8em;
    font-weight: bold;
    margin: 10px 0 5px;

    &:hover {
        color: var(--text-color);
    }

    &.active {
        color: var(--text-color);
    }
}


