:root {
    --box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .4);
    --transition-speed: 200ms;

    .theme--light {
        --body-background-color: #efefef;
        --text-color: #000;
        --text-color-alt: #333;
        --card-bg-color: rgba(0, 0, 0, 0.05);
        --card-bg-color-alt: #e3e3e3;
        --card-bg-alt: #e6e6e6;
        --theme-rgba-contrast: 0, 0, 0;
        --transparent-hover-bg: rgba(0, 0, 0, 0.05);
        --transparent-active-bg: rgba(0, 0, 0, 0.15);
        --border-color: #ababab;
        --border-color-alt: #919191;
        --btn-bg-color: rgba(0, 0, 0, 0.15);
        --btn-bg-color-hover: rgba(0, 0, 0, 0.20);
    }

    .theme--dark {
        --body-background-color: #333;
        --text-color: #fff;
        --text-color-alt: #c1c1c1;
        --card-bg-color: rgba(255, 255, 255, 0.05);
        --card-bg-color-alt: #212428;
        --card-bg-alt: #212428;
        --theme-rgba-contrast: 255, 255, 255;
        --transparent-hover-bg: rgba(255, 255, 255, 0.05);
        --transparent-active-bg: rgba(255, 255, 255, 0.15);
        --border-color: #4b4b4b;
        --border-color-alt: #919191;
        --btn-bg-color: rgba(255, 255, 255, 0.15);
        --btn-bg-color-hover: rgba(255, 255, 255, 0.20);
    }
}
