<div class="home-page-component">
    <div class="container">

        <div class="o-grid">
            <div class="o-grid__col">
                <h3><i class="fa fa-home"></i> Home</h3>
            </div>
            <div class="o-grid__col o-grid__col--fixed">
                <div class="o-btn" (click)="bustCache()" style="padding-bottom: 0.5rem;">
                    <div class="custom-sidebar__button__icon">
                        <i class="fa fa-sync" [ngClass]="{'fa-spin': moviesLoading || showsLoading}"></i>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <h4>Movies</h4>
        <div class="media-container">
            @if (movies.length > 0) {
                <div class="o-grid o-grid--static o-grid--space-between">
                    @for (movie of movies.slice(0, 10); track movie) {
                        <div class="o-grid__col o-grid__col--fixed">
                            <media-poster [media]="movieToMedia(movie)"></media-poster>
                        </div>
                    }
                </div>
            } @else if (moviesLoading) {
                Movies loading...
            } @else {
                No movies to display...
            }
        </div>

        <hr>

        <h4>TV Shows</h4>
        <div class="media-container">
            @if (shows.length > 0) {
                <div class="o-grid o-grid--static o-grid--space-between">
                    @for (show of shows.slice(0, 10); track show) {
                        <div class="o-grid__col o-grid__col--fixed">
                            <media-poster [media]="showToMedia(show)"></media-poster>
                        </div>
                    }
                </div>
            } @else if (showsLoading) {
                Shows loading...
            } @else {
                No shows to display...
            }
        </div>
    </div>
</div>