@import "../../styles/utility/variables";

.home-page-component {
    padding: 34px 0 84px;

    .o-grid.o-grid--static:first-child {
        padding-bottom: 24px;
        border-bottom: 1px solid var(--border-color);
    }

    .o-btn.page-refresh {
        width: 36px;
        height: 36px;
        color: var(--text-color-alt);
        transition: color var(--transition-speed) ease, background var(--transition-speed) ease, transform var(--transition-speed) ease;
        display: flex !important;
        justify-content: center;
    }

    h3 {
        display: flex;
        align-items: center;
        gap: 12px;

        i {
            color: $brand-primary;
            font-size: 1.2rem;
        }
    }

    h4 {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 15px;


        &::after {
            flex: 1;
            height: 1px;
            background: var(--border-color);
            content: '';
        }
    }

    .media-container {
        max-width: 100%;
        padding: 4px 0 18px;
        overflow-y: hidden;
        overflow-x: auto;
        scrollbar-color: rgba(151, 116, 245, .5) transparent;
    }
}
