<div class="home-page-component">
  <div class="container">
    <wide-button (click)="importFromTrakt()" [title]="'Import From Trakt'" [icon]="'fas fa-plus'"></wide-button>

    <h3>Movies</h3>
    @if (movies.length > 0) {
      <div class="o-grid o-grid--space-between">
        @for (movie of movies.slice(0, 5); track movie) {
          <div class="o-grid__col o-grid__col--fixed movie-poster" style="background-image: url({{movie.posterUrl}});">
            <div class="movie-poster__title">
              {{ movie.title }} ({{ movie.year }})
            </div>
            <div class="movie-poster__watched_at">
              {{ movie.watchedAt | date }}
            </div>
          </div>
        }
      </div>
    }

    <hr>

      <h3>TV Shows</h3>
      @if (shows.length > 0) {
        <div class="o-grid o-grid--space-between">
          @for (show of shows.slice(0, 5); track show) {
            <div class="o-grid__col o-grid__col--fixed movie-poster" style="background-image: url({{show.posterUrl}});">
              <div class="movie-poster__title">
                {{ show.title }} ({{ show.year }})
              </div>
              <div class="movie-poster__watched_at">
                {{ show.watchedAt | date }}
              </div>
            </div>
          }
        </div>
      }
    </div>
  </div>