<div class="menu-component">
    <div class="menu-component--menu" *ngIf="showMenu">
        <ul>
            <li>
                <a [routerLink]="['/', 'home']" [routerLinkActive]="'active'" (click)="showMenu = !showMenu"><i class="fa fa-home"></i> Home</a>
            </li>
            <li>
                <a [routerLink]="['/', 'fuel-prices']" [routerLinkActive]="'active'" (click)="showMenu = !showMenu"><i class="fa fa-credit-card"></i> Fuel Prices</a>
            </li>
            <li>
                <a [routerLink]="['/', 'update-docker-apps']" [routerLinkActive]="'active'" (click)="showMenu = !showMenu"><i class="fas fa-cloud-download-alt"></i> Update Apps</a>
            </li>
        </ul>
    </div>
    <div class="menu-component--action-button" (click)="showMenu = !showMenu">
        <i class="fa fa-bars"></i>
    </div>
</div>