$brand-primary: #9774f5;
$brand-primary-alt: #6946d9;
$brand-secondary: #24283a;

$danger-color: #f07178;
$success-color: #79d9b2;
$warning-color: #ffb86b;
$info-color: #73c8f5;

$border-radius: 12px;

$mobile-width: 768px;
$tablet-width: 992px;
