$brand-primary: #1e293c;
$brand-secondary: #333333;

$danger-color: #e74c3c;
$success-color: #2ecc71;
$warning-color: #ff8930;
$info-color: #36a4ff;

$border-radius: 5px;

$mobile-width: 768px;
$tablet-width: 992px;