<div class="top-info-component">

    <div class="weather text-mobile-center">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-8 text-left text-mobile-center">

                        <resource-monitor [allStats]="allStats"></resource-monitor>

                    </div>
                    <div class="col-md-4 text-mobile-center">

                        <weather></weather>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>