@import "../../styles/utility/variables";

.fuel-prices {
    a {
        color: #fff;
    }

    &--results {

    }

    &--result {
        border: 1px solid rgba(255, 255, 255, 0.25);
        margin: 15px 0;
        border-radius: $border-radius;
        position: relative;

        .index-indicator {
            position: absolute;
            top: 5px;
            left: 5px;
        }

        .brand-logo {
            margin: 5px;

            img {
                max-height: 30px;
                max-width: 90%;
            }
        }

        &.highlight-station {
            background-color: rgba(255, 255, 255, 0.15);
        }

        &--price-wrapper {
            text-align: center;
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--distance {
            margin-top: 5px;
        }

        &--price-description {
            margin-right: 5px;
            text-align: right;
        }

        &--price {
            font-family: 'digital-clock-font', serif;
            font-size: 2rem;
            background-color: #292c30;
            border-radius: $border-radius;
            padding: 5px 10px;
            line-height: 2rem;
            text-align: center;
            display: inline-block;
        }

        &--link {
            margin-bottom: 15px;
        }
    }
}