<div class="fuel-prices">
    <div class="o-grid">
        <div class="o-grid__col o-grid__coll--fixed">
            <select [(ngModel)]="locationRange" (change)="triggerFuelStationLookup()" class="c-field c-field__select" style="margin:15px 0;">
                <option value="5">< 5km</option>
                <option value="10">< 10km</option>
                <option value="15">< 15km</option>
                <option value="25">< 25km</option>
                <option value="50">< 50km</option>
            </select>
        </div>
    </div>

    <div class="expandable-container" *ngIf="locationData && fuelStations.length > 0 && !isLoading">
        <div class="header" (click)="showResults = !showResults" [ngClass]="{'header--expanded': showResults}">
            <div class="o-grid">
                <div class="o-grid__col">
                    Results
                </div>
                <div class="o-grid__col o-grid__col--fixed">
                    <i *ngIf="showResults" class="fa fa-arrow-up"></i>
                    <i *ngIf="!showResults" class="fa fa-arroyarnw-down"></i>
                </div>
            </div>
        </div>
        <div class="body" *ngIf="showResults">
            <div class="row fuel-prices--results">
                <div class="fuel-prices--map" *ngIf="locationData && fuelStations.length > 0 && !isLoading">
                    <custom-map [longitude]="locationData!.longitude"
                                [latitude]="locationData!.latitude"
                                [fuelStations]="fuelStations"
                                (clicked)="handleMapClick($event)"></custom-map>
                </div>
                <div class="col-md-2" *ngFor="let fuelStation of fuelStations; index as i">
                    <div class="fuel-prices--result {{ fuelStation.name }}">
                        <div class="index-indicator text-highlight">#{{ i + 1 }}</div>
                        <div class="fuel-prices--result--price-wrapper">
                            <div class="fuel-prices--result--price-description">
                                <div>E10</div>
                                <div class="text-small text-highlight">Petrol</div>
                            </div>
                            <div class="fuel-prices--result--price" style="border:2px solid {{ fuelStation.colour }}">
                                {{ fuelStation.petrol_e10_price }}
                            </div>
                        </div>
                        <div class="fuel-prices--result--price-wrapper">
                            <div class="fuel-prices--result--price-description">
                                <div>E5</div>
                                <div class="text-small text-highlight">Petrol</div>
                            </div>
                            <div class="fuel-prices--result--price" style="border:2px solid {{ fuelStation.colour }}">
                                {{ fuelStation.petrol_e5_price }}
                            </div>
                        </div>
                        <div class="fuel-prices--result--price-wrapper">
                            <div class="fuel-prices--result--price-description">
                                <div>B7</div>
                                <div class="text-small text-highlight">Diesel</div>
                            </div>
                            <div class="fuel-prices--result--price" style="border:2px solid {{ fuelStation.colour }}">
                                {{ fuelStation.diesel_b7_price }}
                            </div>
                        </div>
                        <div class="fuel-prices--result--distance text-center text-highlight text-small">
                            {{ fuelStation.distanceInMeters / 1000 }}km away
                        </div>
                        <div class="fuel-prices--result--updated text-center text-highlight text-small">
                            {{ fuelStation.updatedAt | timeago }}
                        </div>
                        <div class="fuel-prices--result--brand text-center">
                            <div class="brand-logo">
                                <img *ngIf="fuelStation.logo" src="{{ fuelStation.logo }}" alt="{{ fuelStation.brand }}" title="{{ fuelStation.brand }}">
                                <span *ngIf="!fuelStation.logo">{{ fuelStation.brand }}</span>
                            </div>
                        </div>
                        <div class="fuel-prices--result--link text-center text-small">
                            <a href="https://maps.google.com/?q={{ fuelStation.brand }} {{ fuelStation.address }} {{ fuelStation.postcode }}" target="_blank">Open in Google Maps</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>