<div class="media-details-component">
    <div class="container">

        <button (click)="redirectBack()" class="btn btn-primary btn-sm mb-3">&#8592; Back</button>

        @if (media) {
            <div class="media-overview o-grid">
                <div class="o-grid__col o-grid__col--fixed">
                    <div class="media-poster">
                        <img [src]="media.posterUrl" alt="poster card">
                    </div>
                </div>
                <div class="o-grid__col">
                    <div class="media-details">
                        <h1>{{ media.grandParentTitle ?? media.title }}</h1>
                        @if (media.parentTitle && media.grandParentTitle) {
                            <h2>{{ media.parentTitle }} - {{ media.title }}</h2>
                        }
                        <h3>{{ media.year }}</h3>
                        <p>{{ media.overview }}</p>
                        <h6>Last Watched &#64; {{ media.watchedAt | date:'HH:mm dd-MM-y' }} ({{ media.watchedAt | timeago }})</h6>
                    </div>
                </div>
            </div>
            <div class="media-background" style="background-image:url({{ media.posterUrl }});"></div>
        } @else if (isLoading) {
            <div class="media-overview">
                Media loading...
            </div>
        } @else {
            <div class="media-overview">
                Media not found...
            </div>
        }
    </div>
</div>