@import "../../styles/utility/variables";

.weather {
    .weather-icon {
        margin-top: 5px;
        margin-right: 15px;

        @media(max-width: $mobile-width) {
            margin-top: 5px;
            margin-right: 0;
            text-align: center !important;
        }
    }
}