<div class="wide-button" [ngClass]="{'wide-button--disabled': disabled}">
  <div class="o-grid">
    <div class="o-grid__col">
      <div class="o-grid o-grid--static">
        <div class="o-grid__col o-grid__col--fixed">
          <div class="wide-button__icon"><i class="{{ icon }}"></i></div>
        </div>
        <div class="o-grid__col wide-button__label">
          {{ title }}
        </div>
        @if (isLoading) {
          <div class="o-grid__col o-grid__col--fixed">
            <i class="fa fa-spinner fa-spin"></i>
          </div>
        }
      </div>
    </div>
  </div>
</div>