@if (media) {
    <a [routerLink]="['/media', media.identifier]">
        <div class="movie-poster-wrapper">
            <div class="movie-poster" style="background-image: url({{media.posterUrl}});">
                <div class="movie-poster__watched_at">
                    {{ media.watchedAt | timeago }}
                </div>
            </div>
            <div class="movie-poster__title">
                <div>{{ trimTitle(media) }} @if (media.seasonNumber) { ({{ media.year }}) }</div>
                @if (media.seasonNumber) {
                    <div>S{{ media.seasonNumber }} &#8226; E{{ media.episodeNumber }}</div>
                } @else {
                    <div>({{ media.year }})</div>
                }
            </div>
        </div>
    </a>
}