@import "../../styles/utility/variables";

.custom-sidebar {
    width: 300px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    border-right: 1px solid #1e293c;
    padding: 15px;

    @media(max-width: $mobile-width) {
        width: 100%;
        position: absolute;
        z-index: 990;
        background-color: #151e2c;
    }

    &--hidden {
        transform: translateX(-100%);
    }

    &__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
        padding: 10px 15px;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: $border-radius;
        margin-bottom: 5px;

        &:hover {
            cursor: pointer;
            background-color: $brand-primary;
        }

        &--active {
            background: linear-gradient(45deg, $brand-primary, $brand-primary-alt);
        }


        &__icon {
            margin-right: 5px;
        }

        &__label {
        }
    }

    &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        align-content: center;

        &__link {
            color: var(--text-color-alt);
            text-decoration: none;
            font-size: 0.75rem;
        }
    }

    &--action-button {
        border: 1px solid var(--border-color);
        width: 50px;
        height: 50px;
        border-radius: $border-radius;
        background: linear-gradient(45deg, $brand-primary, $brand-primary-alt);
        box-shadow: var(--box-shadow);
        text-align: center;
        line-height: 50px;
        font-size: 1rem;
        cursor: pointer;
        position: fixed;
        bottom: 15px;
        left: 15px;
        z-index: 999;

        &:hover {
            cursor: pointer;
            background-color: $brand-primary;
        }
    }
}