<div class="custom-sidebar" [ngClass]="{'custom-sidebar--hidden': !showMenu}" [@slideInFromLeft]="showMenu ? 'visible' : 'hidden'">

    <div class="custom-sidebar__button" (click)="showMenu = !showMenu;" [routerLink]="'/home'" [routerLinkActive]="'custom-sidebar__button--active'">
        <div class="custom-sidebar__button__icon">
            <i class="fa fa-home"></i>
        </div>
        <div class="custom-sidebar__button__label">
            Home
        </div>
    </div>

    <div class="custom-sidebar__button" (click)="showMenu = !showMenu;" [routerLink]="'/history'" [routerLinkActive]="'custom-sidebar__button--active'">
        <div class="custom-sidebar__button__icon">
            <i class="fa fa-history"></i>
        </div>
        <div class="custom-sidebar__button__label">
            History
        </div>
    </div>

    <div class="custom-sidebar__button" (click)="showMenu = !showMenu;" [routerLink]="'/settings'" [routerLinkActive]="'custom-sidebar__button--active'">
        <div class="custom-sidebar__button__icon">
            <i class="fa fa-cog"></i>
        </div>
        <div class="custom-sidebar__button__label">
            Settings
        </div>
    </div>

</div>

@if (!isDesktop) {
    <div class="custom-sidebar--action-button" (click)="showMenu = !showMenu;">
        <i class="fa fa-bars"></i>
    </div>
}
