<div class="custom-sidebar" [ngClass]="{'custom-sidebar--hidden': !showMenu}" [@slideInFromLeft]="showMenu ? 'visible' : 'hidden'">

    <div class="custom-sidebar__button" (click)="toggleMenu();" [routerLink]="'/app/home'" [routerLinkActive]="'custom-sidebar__button--active'">
        <div class="custom-sidebar__button__icon">
            <i class="fa fa-home"></i>
        </div>
        <div class="custom-sidebar__button__label">
            Home
        </div>
    </div>

    <div class="custom-sidebar__button" (click)="toggleMenu();" [routerLink]="'/app/history'" [routerLinkActive]="'custom-sidebar__button--active'">
        <div class="custom-sidebar__button__icon">
            <i class="fa fa-history"></i>
        </div>
        <div class="custom-sidebar__button__label">
            History
        </div>
    </div>

    <div class="custom-sidebar__button" (click)="toggleMenu();" [routerLink]="'/app/statistics'" [routerLinkActive]="'custom-sidebar__button--active'">
        <div class="custom-sidebar__button__icon">
            <i class="fa fa-chart-line"></i>
        </div>
        <div class="custom-sidebar__button__label">
            Statistics
        </div>
    </div>

    <div class="custom-sidebar__button" (click)="toggleMenu();" [routerLink]="'/app/settings'" [routerLinkActive]="'custom-sidebar__button--active'">
        <div class="custom-sidebar__button__icon">
            <i class="fa fa-cog"></i>
        </div>
        <div class="custom-sidebar__button__label">
            Settings
        </div>
    </div>

    <hr>

    <div class="custom-sidebar__button" (click)="toggleMenu();" [routerLink]="'/logout'" [routerLinkActive]="'custom-sidebar__button--active'">
        <div class="custom-sidebar__button__icon">
            <i class="fa fa-door-open"></i>
        </div>
        <div class="custom-sidebar__button__label">
            Log Out
        </div>
    </div>

</div>

@if (!isDesktop) {
    <div class="custom-sidebar--action-button" (click)="toggleMenu();">
        <i class="fa fa-bars"></i>
    </div>
}
