<div class="custom-sidebar">

    <div class="custom-sidebar__button" [routerLink]="'/home'" [routerLinkActive]="'custom-sidebar__button--active'">
        <div class="custom-sidebar__button__icon">
            <i class="fa fa-home"></i>
        </div>
        <div class="custom-sidebar__button__label">
            Home
        </div>
    </div>

    <div class="custom-sidebar__button" [routerLink]="'/history'" [routerLinkActive]="'custom-sidebar__button--active'">
        <div class="custom-sidebar__button__icon">
            <i class="fa fa-history"></i>
        </div>
        <div class="custom-sidebar__button__label">
            History
        </div>
    </div>

    <div class="custom-sidebar__button" [routerLink]="'/settings'" [routerLinkActive]="'custom-sidebar__button--active'">
        <div class="custom-sidebar__button__icon">
            <i class="fa fa-settings"></i>
        </div>
        <div class="custom-sidebar__button__label">
            Settings
        </div>
    </div>
</div>