<div class="import-links" (click)="handleClick()">
    <div class="o-grid">
        <div class="o-grid__col">
            <div class="o-grid o-grid--static">
                <div class="o-grid__col o-grid__col--fixed">
                    <div class="import-links__icon"><i class="fa fa-download"></i></div>
                </div>
                <div class="o-grid__col import-links__label">
                    Export Links
                </div>
            </div>
        </div>
    </div>
</div>