<div class="resource-monitor">
    <div class="row" *ngIf="stats">
        <div class="col-md-4">
            <div class="stat">
                <div class="o-grid o-grid--static">
                    <div class="o-grid__col o-grid__col--fixed">
                        <i class="fas fa-server"></i>
                    </div>
                    <div class="o-grid__col">
                        <div class="o-grid o-grid--static">
                            <div class="o-grid__col">
                                <small class="text-small u-ml-2 mobile--no-mx">{{ roundToTwoDecmalPoints(stats.cpuUsage.percentage) }}%</small>
                            </div>
                            <div class="o-grid__col o-grid__col--fixed">
                                <small class="text-small">CPU</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="custom-progress-bar">
                    <div class="custom-progress-bar__fill" [style]="'width:' + roundToTwoDecmalPoints(stats.cpuUsage.percentage) + '%;'"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stat">
                <div class="o-grid o-grid--static">
                    <div class="o-grid__col o-grid__col--fixed">
                        <i class="fas fa-memory"></i>
                    </div>
                    <div class="o-grid__col">
                        <div class="o-grid o-grid--static">
                            <div class="o-grid__col">
                                <small class="text-small u-ml-2 mobile--no-mx">
                                    {{ bytesToGigaBytes(stats.memoryUsage.used) }} GiB /
                                    {{ bytesToGigaBytes(stats.memoryUsage.total) }} GiB
                                </small>
                            </div>
                            <div class="o-grid__col o-grid__col--fixed">
                                <small class="text-small">Memory</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="custom-progress-bar">
                    <div class="custom-progress-bar__fill"
                         [style]="'width:' + stats.memoryUsage.percentage + '%;'"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stat">
                <div class="o-grid o-grid--static">
                    <div class="o-grid__col o-grid__col--fixed">
                        <i class="fas fa-hdd"></i>
                    </div>
                    <div class="o-grid__col">
                        <div class="o-grid o-grid--static">
                            <div class="o-grid__col">
                                <small class="text-small u-ml-2 mobile--no-mx">
                                    {{ bytesToGigaBytes(stats.diskUsage.used)}} GiB /
                                    {{ bytesToGigaBytes(stats.diskUsage.total) }} GiB
                                </small>
                            </div>
                            <div class="o-grid__col o-grid__col--fixed">
                                <small class="text-small">Disk</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="custom-progress-bar">
                    <div class="custom-progress-bar__fill" [style]="'width:' + stats.diskUsage.percentage + '%;'"></div>
                </div>
            </div>
        </div>
    </div>
</div>