.url-health-checker {
  .response-time {
    position: relative;
    top: -15px;
    height: 0;
    font-size: 10px;
    color: rgb(264, 193, 7);
    white-space: nowrap;

    &__fast {
      color: rgb(46, 204, 113);
    }

    &__slow {
      color: rgb(231, 76, 60);
    }
  }
}
