<div class="deploy-info-component">
    <div class="text-mobile-center">
        <div class="container">
            <div class="wrapper text-mobile-center">
                <div class="o-grid">
                    <div class="o-grid__col o-grid__col--fixed github-icon">
                        <a href="https://github.com/Citr0s/home-box-landing" target="_blank"
                           class="text-white-50 text-hover">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>