<div class="update-docker-apps-page-component">

    <top-info></top-info>

    <div class="text-mobile-center">
        <div class="container">
            <div class="text-mobile-center">

                <wide-button (click)="updateAllDockerApps()" [title]="'Update Docker Apps'"
                             [icon]="'fas fa-cloud-download-alt'"
                             [disabled]="!updateAllDockerAppsResult.finished"></wide-button>

                <div class="expandable-container" *ngIf="updateAllDockerAppsResult.result.length > 0">
                    <div class="header" (click)="showLog = !showLog" [ngClass]="{'header--expanded': showLog}">
                        <div class="o-grid">
                            <div class="o-grid__col">
                                <div class="o-grid">
                                    <div class="o-grid__col o-grid__col--fixed">
                                        <div class="u-icon-wrapper" *ngIf="!updateAllDockerAppsResult.finished"><i class="fa fa-spinner fa-spin"></i></div>
                                        <div class="text-green u-icon-wrapper" *ngIf="updateAllDockerAppsResult.finished"><i class="fa fa-check"></i></div>
                                    </div>
                                    <div class="o-grid__col">
                                        Update Docker Apps Log
                                    </div>
                                </div>
                            </div>
                            <div class="o-grid__col o-grid__col--fixed">
                                <i *ngIf="showLog" class="fa fa-arrow-up"></i>
                                <i *ngIf="!showLog" class="fa fa-arrow-down"></i>
                            </div>
                        </div>
                    </div>
                    <div class="body" *ngIf="showLog">
                        <pre class="log-window" disabled="true" [innerHTML]="updateAllDockerAppsResult.result"></pre>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <deploy-info></deploy-info>

</div>