@import "../../styles/utility/variables";

.settings-page-component {
    padding: 34px 0 84px;

    h3 {
        display: flex;
        align-items: center;
        gap: 12px;

        i {
            color: $brand-primary;
            font-size: 1.2rem;
        }
    }

    h4 {
        margin-top: 0;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--border-color);
    }

    .log-window {
        border: 1px solid var(--border-color);
        padding: 10px;
        background-color: rgba(7, 9, 14, .42);
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 200px;
        min-height: 200px;
        max-height: 200px;
        border-radius: $border-radius;
        border-top: 0;
        outline: none;
        resize: none;
        text-align: left !important;
        white-space: pre-line;
    }

    .progress-bar {

        &__wrapper {
            border: 1px solid var(--border-color);
            width: 100%;
            position: relative;
            border-radius: $border-radius;
        }

        &__inner {
            position: absolute;
            top: 0;
            bottom: 0;
            background: $brand-primary;
            z-index: 0;
        }

        &__text {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            flex-wrap: nowrap;
            flex-direction: row;
            z-index: 10;
        }
    }
}