name: Build

on:
  pull_request:
    branches: ["main"]

env:
  CHROME_BIN: /usr/bin/chromium-browser

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:

  build-fe:
    runs-on: self-hosted
    container:
      image: node:22
    steps:
      - uses: actions/checkout@v4

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        run: yarn --frozen-lockfile --prefer-offline

      - name: Build FE
        run: npm run build


  test-fe:
    runs-on: self-hosted
    container:
      image: node:22
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: yarn --frozen-lockfile --prefer-offline

      # - name: Test FE
      #   run: npm run test-ci


  lint-fe:
    runs-on: self-hosted
    container:
      image: node:22
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: yarn --frozen-lockfile --prefer-offline

      # - name: Lint FE
      #   run: npm run lint


  build-be:
    runs-on: self-hosted
    container:
      image: mcr.microsoft.com/dotnet/sdk:10.0.103
    steps:
      - uses: actions/checkout@v4

      - name: Restore
        run: dotnet restore api/Trackster.sln

      - name: Build BE
        run: dotnet build api/Trackster.sln --no-restore


  test-be:
    runs-on: self-hosted
    container:
      image: mcr.microsoft.com/dotnet/sdk:10.0.103
    steps:
      - uses: actions/checkout@v4

      - name: Restore
        run: dotnet restore api/Trackster.sln

      - name: Test BE
        run: dotnet test api/Trackster.sln --no-build


  docker-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t home-app . --platform linux/amd64
